# Application Configuration
NODE_ENV=production
PORT=3000
HOST=0.0.0.0

# Coolify Configuration
SOURCE_COMMIT=
COOLIFY_URL=https://c0s8g4k00oss8kkcoccs88g0.247420.xyz
COOLIFY_FQDN=c0s8g4k00oss8kkcoccs88g0.247420.xyz
COOLIFY_BRANCH=main
COOLIFY_RESOURCE_UUID=c0s8g4k00oss8kkcoccs88g0
COOLIFY_CONTAINER_NAME=c0s8g4k00oss8kkcoccs88g0-022722696874

# Security
SOURCE_COMMIT_ID=2db69a08115270fc9d30d54fc096a0963f269ca3